<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/register.css">

</head>

<body>
    <form method="POST" action="/register">
        <div class="form-row">
            <div class="formBody">
                <h2>Register</h2>
                <br>
                <div class="col-12 ">
                    <div class="col formDiv">

                        <label for="nickname">Nickname</label>
                        <input type="text" class="form-control " id="nickname" required maxlength="10" name="nickname">
                    </div>
                </div>
                <div class="col-12 ">
                    <div class="col formDiv">
                        <label for="password">Password</label>
                        <input type="password" class="form-control " id="password" minlength="4" maxlength="20" required
                            name="password">
                    </div>
                </div>
                <div class="col-12 ">
                    <div class="col formDiv">
                        <label for="password">Confirm password</label>
                        <input type="password" class="form-control " id="confirm_password" minlength="4" maxlength="20"
                            required name="conf_password">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
                <br>
                <a href="#">Sign in</a>
            </div>
        </div>
    </form>

    <script>
        let submit = document.querySelectorAll("form")[0];
        let nickname = document.getElementById('nickname')


        submit.addEventListener("submit", function (e) {
            var password = document.getElementById("password")
            var confirm_password = document.getElementById("confirm_password");
            if (password.value != confirm_password.value) {
                e.preventDefault();
                password.style.border = '3px solid red';
                confirm_password.style.border = '3px solid red';
            } 
            else {
                confirm_password.setCustomValidity('');
            }

        })


        nickname.addEventListener('input', function () {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {

                    if (this.responseText == 'true'){
                        document.querySelectorAll('button')[0].disabled = true;
                        nickname.style.border = '2px solid red'
                    }
                    else{
                        nickname.style.border = '2px solid green'
                        document.querySelectorAll('button')[0].disabled = false;
                    }
                }
            };
            xhttp.open("POST", "/register/check", true);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify({ 'nickname': nickname.value }));
        })

        // password.onchange = validatePassword();
        //confirm_password.onkeyup = validatePassword();
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>